@model SocialMusic.Models.User

<h1 class="profileHeader">This is @Model.Username's profile</h1>
<br />
<h3>Post something on @Model.Username's wall!</h3>
<br/>
<h3>@Model.Username's name on last FM is @Model.LastFmUsername</h3>
<h3>@Model.Username's Top 5 Albums and artists</h3>
@{Html.RenderAction("TopAlbumsAndArtists");}
@{ Html.RenderAction("Messages", "WallMessages");}